        <!-- Footer Area start -->
<footer class="footer-area">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!-- footer single wedget -->
                <div class="col-md-6 col-lg-4">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <h1 style="font-size: 22px; text-align: center; color: black;"> <b style="font-size: 30px;">G</b>irlymerely</h1>
                        <div class="trust-namad">
                            <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=197509&amp;Code=ruz2PQhLveKz5TMjwzrl"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=197509&amp;Code=ruz2PQhLveKz5TMjwzrl" alt="" style="cursor:pointer" id="ruz2PQhLveKz5TMjwzrl"></a>
                        </div>
                    </div>
                    <!-- footer logo
                    <div class="about-footer">
                        <div class="social-info">
                            <ul>
                                <li>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-google"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="ion-social-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </div>
                    <!-- footer single wedget -->
                    <div class="col-md-6 col-lg-4 mt-res-sx-30px mt-res-md-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">اطلاعات</h4>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="/Terms">شرایط خرید و ارسال</a></li>
                                    <li><a href="/AboutUs">درباره ما</a></li>
                                    <li><a href="/ContactUs">با ما تماس بگیرید</a></li>
                                    <li><a href="/Shop/ProductList">فروشگاه</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- footer single wedget -->
                    <div class="col-md-6 col-lg-4 mt-res-md-50px mt-res-sx-30px mt-res-md-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">لینک های سفارشی</h4>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="/Customer/Auth/Login">ورود</a></li>
                                    <li><a href="/Customer/Dashboard">حساب من</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- footer single wedget -->
                    @*<div class="col-md-6 col-lg-4 mt-res-md-50px mt-res-sx-30px mt-res-md-30px">
            <div class="single-wedge">
                <h4 class="footer-herading">خبرنامه</h4>
                <div class="subscrib-text">
                    <p>شما ممکن است هر لحظه لغو اشتراک شوید. برای این منظور ، لطفاً اطلاعات تماس ما را در اطلاعیه حقوقی پیدا کنید.</p>
                </div>

                <div id="mc_embed_signup" class="subscribe-form">
                    <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input class="email" type="email" required="" placeholder="ایمیل خود را اینجا وارد کنید.." name="EMAIL" value="">
                            <div class="mc-news" aria-hidden="true" style="position: absolute; left: -5000px;">
                                <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                            </div>
                            <div class="clear">
                                <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="عضویت">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="img_app">
                    <a href="#"><img src="/Content/client/images/icons/app_store.png" alt=""></a>
                    <a href="#"><img src="/Content/client/images/icons/google_play.png" alt=""></a>
                </div>
            </div>
        </div>*@
                    <!-- footer single wedget -->
                </div>
        </div>
    </div>
    <!--  Footer Bottom Area start -->
    <!--<div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">-->
                    <!-- <p class="copy-text">کپی رایت © <a href="#">Amir.h</a> . کلیه حقوق محفوظ است</p> -->
                <!--</div>
                <div class="col-md-6 col-lg-8">
                    <img class="payment-img" src="/Content/client/images/icons/payment.png" alt="">
                </div>
            </div>
        </div>
    </div>-->
    <!--  Footer Bottom Area End-->
</footer>
<!--  Footer Area End -->