@{
    ViewBag.Title = "ارتباط با ما";
}
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">پیام شما با موفقیت ارسال شد</h1>
                    <h4><a href="/" style="color: whitesmoke;">بازگشت به خانه</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>