@model GirlyMerely.Core.Models.Offer

<div class="banner-area-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-inner wow bounceInDown">
                    <a href="/Shop/ProductList/?offer=@Model.Id"><img src="/Files/OffersImages/@Model.Image" alt="@Model.Title"></a>
                </div>
            </div>
        </div>
    </div>
</div>
