@model List<GirlyMerely.Core.Models.Partner>
<div class="brand-area">
    <div class="container">
        <div class="brand-slider owl-carousel owl-nav-style owl-nav-style-2">
            @foreach (var item in Model)
            {
                <div class="brand-slider-item">
                    <a href="@item.Link"><img src="/Files/PartnersImages/@item.Image" alt="@item.Title"></a>
                </div>
            }
        </div>
    </div>
</div>